.dropdown-list{
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid #4A4949;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    color: #FFF;
    padding: 0.5rem 1rem;
}

.dropdown-list option {
    color: #4A4949;
    text-transform: capitalize;
}
